<% include partials/header %>

<h1><%= campground.name %></h1>
<img src="<%= campground.image %>" style="max-width: 600px">
<p><%= campground.description %></p>
<hr>
<h2>Comments</h2>
<% campground.comments.forEach((comment) => { %>
    <p><%= comment.text %></p>
    <p>Posted by: <strong><%= comment.author %></strong></p>
    <hr>
<% }); %>

<% include partials/footer %>
